# HorÃ¡rio Escolar

Importando bibliotecas:

In [344]:
import numpy as np
import random as rd
import pandas as pd
from typing import List
from collections import defaultdict

In [345]:
def fit(mClasses:np.ndarray, mUsed:np.ndarray, mExcept:np.ndarray, mAgenda:np.ndarray, teacher:str, sequence:int) -> List[tuple]:
    for x, y in np.ndindex(mClasses.shape):
        pos = y - (sequence - 1)
        if pos < 0:
            pos = 0
        if y >= (sequence -1):
            testRow = np.full((1, sequence), x)[0]
            if not np.any(mClasses[testRow, list(range(pos,y+1))]):
                if not np.any(mUsed[testRow, list(range(pos,y+1))]):
                    if not np.any(mExcept[testRow, list(range(pos,y+1))]):
                        mClasses[x, pos:pos + sequence] = 1
                        mUsed[x, pos:pos + sequence] = 1
                        mAgenda[x, pos:pos + sequence] = teacher
                        return (x, pos)
    return False

In [346]:
minutosAula = 45
leiDo1Terco = 1/3
qtdAulas = 5
qtdDias = 5
maxSequenciaAulas=3
grades = {
    '3-medio-basico'    :   {
        'portugues': 4, 'matematica': 4, 'fisica': 3, 'quimica': 3, 'geografia': 3,
        'biologia': 2, 'historia': 2, 'ingles': 2, 'filosofia': 1, 'artes': 1
    }
}
turmas = {
    '3-ano-A': { 'aulas': np.zeros((qtdAulas, qtdDias), int), 'agenda': np.full((qtdAulas, qtdDias), '', dtype=object), 'grade': grades['3-medio-basico'].copy() },
    '3-ano-B': { 'aulas': np.zeros((qtdAulas, qtdDias), int), 'agenda': np.full((qtdAulas, qtdDias), '', dtype=object), 'grade': grades['3-medio-basico'].copy() },
    '3-ano-C': { 'aulas': np.zeros((qtdAulas, qtdDias), int), 'agenda': np.full((qtdAulas, qtdDias), '', dtype=object), 'grade': grades['3-medio-basico'].copy() }
}
professores = {
    'angela':       {'ch': 40, 'disciplinas': ['portugues']},
    'evely':        {'ch': 40, 'disciplinas': ['matematica']},
    'theo':         {'ch': 40, 'disciplinas': ['fisica']},
    'regina':       {'ch': 40, 'disciplinas': ['quimica']},
    'jaci':         {'ch': 40, 'disciplinas': ['geografia']},
    'aristoteles':  {'ch': 40, 'disciplinas': ['biologia']},
    'benfica':      {'ch': 40, 'disciplinas': ['historia']},
    'romeu':        {'ch': 40, 'disciplinas': ['ingles']},
    'kika':         {'ch': 40, 'disciplinas': ['filosofia']},
    'vangogh':      {'ch': 40, 'disciplinas': ['artes']}
}
for p in professores:
    p = professores[p]
    p['ch_liquida'] = int(round(p['ch'] - (p['ch'] * leiDo1Terco), 0))
    p['aulas_qtd'] = int((p['ch_liquida'] * 60) / minutosAula)
    p['aulas_usadas'] = np.zeros((qtdAulas, qtdDias), int)
    p['aulas_usadas_qtd'] = p['aulas_qtd']
    p['aulas_excessao'] = np.zeros((qtdAulas, qtdDias), int)
pd.DataFrame(professores)

,angela,evely,theo,regina,jaci,aristoteles,benfica,romeu,kika,vangogh
ch,40,40,40,40,40,40,40,40,40,40
disciplinas,[portugues],[matematica],[fisica],[quimica],[geografia],[biologia],[historia],[ingles],[filosofia],[artes]
ch_liquida,27,27,27,27,27,27,27,27,27,27
aulas_qtd,36,36,36,36,36,36,36,36,36,36
aulas_usadas,"[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0...","[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0...","[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0...","[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0...","[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0...","[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0...","[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0...","[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0...","[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0...","[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0..."
aulas_usadas_qtd,36,36,36,36,36,36,36,36,36,36
aulas_excessao,"[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0...","[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0...","[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0...","[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0...","[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0...","[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0...","[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0...","[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0...","[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0...","[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0..."

In [347]:
for t in turmas:
    turma, mAulasTurma, mAgendaTurma, gradeTurma = turmas[t], turmas[t]['aulas'], turmas[t]['agenda'], turmas[t]['grade']
    enquantoCarencia = True
    while enquantoCarencia > 0:
        for disciplina in gradeTurma:
            sequencia = 3 if gradeTurma[disciplina] > 3 else 2 if gradeTurma[disciplina] > 2 else gradeTurma[disciplina]
            carencia = False
            for prof in professores:
                p = professores[prof]
                if p['aulas_usadas_qtd'] >= sequencia and disciplina in p['disciplinas']:
                    carencia = True
                    break
            if carencia:
                if fit(mAulasTurma, p['aulas_usadas'], p['aulas_excessao'], mAgendaTurma, prof, sequencia):
                    gradeTurma[disciplina] -= sequencia
                    p['aulas_usadas_qtd'] -= sequencia
        enquantoCarencia = True if sum(gradeTurma.values()) > 0 else False


for t in turmas:   
    print(t) 
    print(turmas[t]['grade'])
    df = pd.DataFrame(turmas[t]['agenda'].transpose(), columns=['Seg', 'Ter', 'Qua', 'Qui', 'Sex'])
    print(turmas[t]['aulas'].transpose())
    print(df)

pd.DataFrame(professores)

KeyboardInterrupt: